---
import BlogLayout from "../layouts/blogLayout.astro";
const pageTitle = "My astro learning blog";
---

<BlogLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
</BlogLayout>
