---
import Navigation from "./navigation.astro";
import ThemeIcon from "./themeIcon.astro";
import Hamburger from "./hamburger.astro";
---

<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>
